/* Make the container scrollable */
.example-container {
  height: 600px;
  overflow: auto;
}

.example-container table {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  
  /* 高さが足りない時でも上に詰める */
  min-height: 100vh;

  overflow-x: scroll;
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.2s;
}

.clickable-row:hover {
  background-color: #f5f5f5;
}

/* No列 */
.mat-column-position {
  width: 60px;
  text-align: center;
}

/* 日付 */
.mat-column-date {
  width: 80px;
}

/* 動画アイコン */
.mat-column-movielink {
  width:50px;
  text-align: center;
}

/* 議事録アイコン */
.mat-column-minutes {
  width: 50px;
  text-align: center;
}
